  <meta charset="utf-8">
  <title>[title]</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">


  {load href="/static/layuiAdmin/layui/css/layui.css" /}
  {load href="/static/layuiAdmin/css/admin.css" /}
  <style>
  .clearfloat:after
  {
  display:block;
  height:0;
  content:"";
  clear:both;
  visibility:hidden;
  }

  </style>
  <script typet="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script>
  ///^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
  </script>