{extend name="common:base" /}

{block name="list"}
<div class="xl12 xm8">
				
					<div class="line-small">
						<div class="xs12">
						{foreach name="list" item="vo" empty="暂时没有数据"}
			<div class="clearfix articlebox">
									<div class="detail_a">
									    
									{php}echo $vo['tag']==1 ? '<span class="tag bg-dot">原创</span>' : '<span class="tag bg-green">转载</span>';{/php}&nbsp;&nbsp;
									<a href="{:url('article/index','id='.$vo['id'])}" style="font-size: 16px;">{$vo.title}</a>
	                                {php}echo $vo['is_good']==1 ? '<div class="a_tuijian"><img src="__public__images/top.gif" style="width:70px" /></div>' : '';{/php}
									</div>
									<div class="article">
										<ul class="icourse-course">
											<li>
											    <a href="{:url('article/index','id='.$vo['id'])}">
											        <div class="icourse-img">
															{if condition="$vo.pic neq ''"}
															<img src="./uploads/{$vo.pic}" class="img" title="" width="100%" height="200px" />
															{else /}
															<img src="./static/home/images/default_thumb.png" width="100%" height="200px"/>
															{/if}
											        </div>
											    </a>
											</li>										
										</ul>
										<div class="remark">
										{$vo.synopsis}					
										</div>
									</div>
	
									<div class="write">
										<span class="icon-paper-plane"></span>&nbsp;{$vo.createtime} &nbsp;&nbsp;作者：{$vo.author} &nbsp;&nbsp;分类：[&nbsp;{$getcategoryName[$vo['categoryid']]}&nbsp;]<span class="hidden-xs">&nbsp;&nbsp;点击：[&nbsp;{$vo.reading}&nbsp;]</span>
									</div>
									<div class="look-all">
										<a href="{:url('article/index','id='.$vo['id'])}" class="button border-blue" role="button">查看全部</a>
									</div>
								</div>
								<br />
 							{/foreach}	
						
							<br />							
						</div>						
						<hr />
						<div class="pages" style=" text-align: right;">
													</div>
					</div>
					<br />
					<br />
					<br />
					
				</div>	

{/block}
