<!DOCTYPE html>
<html lang="zh-cn">
<head>		
	
	<title>{block name="title"}{$site_config.site_title}{/block}</title>
	<meta name="keywords" content="{$site_config.seo_keyword}"/>
	<meta name="description" content="{$site_config.seo_description}"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	{load href="/static/home/css/lunbo.css" /}
	{load href="/static/home/css/pintuer.css" /}
	{load href="/static/home/css/my.css" /}
	{load href="/static/home/css/page_css.css" /}
	{load href="/static/home/css/gotop.css" /}

	{load href="/static/home/js/jquery.js" /}
	{load href="/static/home/js/pintuer.js" /}
	{load href="/static/home/js/respond.js" /}
	{load href="/static/home/layer/layer.js" /}
	{load href="/static/home/js/gotop.js" /}
	{load href="/static/home/js/jquery.touchSlider.js" /}
</head>
	<body>
       {include file="common/header"} 
		<div class="container">
			<div class="">
				<ul class="bread">
					<h4>
					<li><a href="#" class="icon-home"> 首页</a> </li>					
					<li><a href="#">最新文章</a></li>
					</h4>
				</ul>
			</div>
			<div class="line-big">
				<div class="xl12 xm8">
				{block name="left"}
					<div class="line-small">
						<div class="xs12">
						{foreach name="toparticle" item="vo"}
			<div class="clearfix articlebox">
									<div class="detail_a">
									    
									{php}echo $vo['tag']==1 ? '<span class="tag bg-dot">原创</span>' : '<span class="tag bg-green">转载</span>';{/php}&nbsp;&nbsp;
									<a href="{:url('article/index','id='.$vo['id'])}" style="font-size: 16px;">{$vo.title}</a>
	                                {php}echo $vo['is_top']==1 ? '<div class="a_tuijian"><img src="__public__images/top.gif" style="width:70px" /></div>' : '';{/php}
									</div>
									<div class="article">

										<ul class="icourse-course">
											 <li>
									                <a href="{:url('article/index','id='.$vo['id'])}">
											            <div class="icourse-img">

																{if condition="strtoupper($vo['thumb']) neq ''"}<img src="{$vo.thumb}" onerror="this.src='__public__images/default_thumb.png'" class="img" title="" width="100%" height="200px" />
{else /}<img src="__public__images/default_thumb.png" width="100%" height="200px"/>
{/if}
															
											            </div>
									       
									                </a>
									           </li>										

										</ul>

										<div class="remark">
										{$vo.introduction}					</div>
									</div>
	
									<div class="write">
										<span class="icon-paper-plane"></span>&nbsp;{$vo.publish_time} &nbsp;&nbsp;作者：{$vo.author} &nbsp;&nbsp;分类：[&nbsp;{$getcategoryName[$vo['cid']]}&nbsp;]<span class="hidden-xs">&nbsp;&nbsp;点击：[&nbsp;{$vo.reading}&nbsp;]</span>
									</div>
									<div class="look-all">
										<a href="{:url('article/index','id='.$vo['id'])}" class="button border-blue" role="button">查看全部</a>
									</div>
								</div>
								<br />
 {/foreach}	
						
						 {foreach name="article_list" item="vo" empty="暂时没有数据"}
							<div class="clearfix articlebox">
									<div class="detail_a">
									    
									{php}echo $vo['tag']==1 ? '<span class="tag bg-dot">原创</span>' : '<span class="tag bg-green">转载</span>';{/php}&nbsp;&nbsp;
									<a href="{:url('article/index','id='.$vo['id'])}" style="font-size: 16px;">{$vo.title}</a>
	                                {php}echo $vo['is_good']==1 ? '<div class="a_tuijian"><img src="__public__images/tuijian.gif" style="width:70px" /></div>' : '';{/php}
									</div>
									<div class="article">

										<ul class="icourse-course">
											 <li>
									                <a href="{:url('article/index','id='.$vo['id'])}">
											            <div class="icourse-img">

																{if condition="strtoupper($vo['thumb']) neq ''"}<img src="{$vo.thumb}" onerror="this.src='__public__images/default_thumb.png'" class="img" title="" width="100%" height="200px" />
																{else /}<img src="__public__images/default_thumb.png" width="100%" height="200px"/>
																{/if}
															
											            </div>
									       
									                </a>
									           </li>										

										</ul>

										<div class="remark">
										{$vo.introduction}					</div>
									</div>
	
									<div class="write">
										<span class="icon-paper-plane"></span>&nbsp;{$vo.publish_time} &nbsp;&nbsp;作者：{$vo.author} &nbsp;&nbsp;分类：[&nbsp;{$getcategoryName[$vo['cid']]}&nbsp;]<span class="hidden-xs">&nbsp;&nbsp;点击：[&nbsp;{$vo.reading}&nbsp;]</span>
									</div>
									<div class="look-all">
										<a href="{:url('article/index','id='.$vo['id'])}" class="button border-blue" role="button">查看全部</a>
									</div>
								</div>
								<br />
							    {/foreach}	
												
							<br />							
						</div>						
						<hr />
						<div class="pages" style=" text-align: right;">
													</div>
					</div>
					<br />
					<br />
					<br />
					{/block}
				</div>				
				
{include file="common/right"} 	
			</div>
		</div>	

{include file="common/footer"} 		

	</body>
</html>