<!DOCTYPE html>
<html lang="zh-cn">
<head>		
	
	<title>{block name="title"}{$config.title}{/block}</title>
	<meta name="keywords" content="{$site_config.seo_keyword}"/>
	<meta name="description" content="{$site_config.seo_description}"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	{load href="/static/home/css/lunbo.css" /}
	{load href="/static/home/css/pintuer.css" /}
	{load href="/static/home/css/my.css" /}
	{load href="/static/home/css/page_css.css" /}
	{load href="/static/home/css/gotop.css" /}

	{load href="/static/home/js/jquery.js" /}
	{load href="/static/home/js/pintuer.js" /}
	{load href="/static/home/js/respond.js" /}
	{load href="/static/home/layer/layer.js" /}
	{load href="/static/home/js/gotop.js" /}
	{load href="/static/home/js/jquery.touchSlider.js" /}
</head>
	<body>
       {include file="common/header"} 
		<div class="container">
			<div class="">
				<ul class="bread">
					<h4>
					<li><a href="#" class="icon-home"> 首页</a> </li>					
					<li><a href="#">最新文章</a></li>
					</h4>
				</ul>
			</div>
			<div class="line-big">
				{block name="list"}
				
				{/block}
{include file="common/right"} 	
			</div>
		</div>	

{include file="common/footer"} 		

	</body>
</html>